In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [522]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1172,tt0290334,110000000,214948780,X2,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,The time has come for those who are different ...,Professor Charles Xavier and his team of genet...,133,Adventure|Action|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Donners...,4/24/2003,6.7,2003
1541,tt0395495,25000000,16158487,Catch and Release,Jennifer Garner|Timothy Olyphant|Kevin Smith|S...,Susannah Grant,Life is messy. Love is messier,Gray Wheeler just lost everything. But it coul...,111,Comedy|Drama|Romance,Columbia Pictures Corporation|Relativity Media,10/20/2006,6.0,2006
1603,tt0316654,200000000,783766341,Spider-Man 2,Tobey Maguire|Kirsten Dunst|James Franco|Alfre...,Sam Raimi,There's a hero in all of us.,Peter Parker is going through a major identity...,127,Action|Adventure|Fantasy,Laura Ziskin Productions|Columbia Pictures Cor...,6/25/2004,6.4,2004
194,tt1972779,26000000,35926213,The Best of Me,Michelle Monaghan|James Marsden|Liana Liberato...,Michael Hoffman,You never forget your first love.,A pair of former high school sweethearts reuni...,117,Drama|Romance,Relativity Media,10/16/2014,7.2,2014
480,tt1213012,20000000,39300000,Alpha and Omega,Hayden Panettiere|Justin Long|Dennis Hopper|Ch...,Anthony Bell|Ben Gluck,A Pawsome 3D Adventure,Two mismatched wolves embark on a cross-countr...,88,Family|Animation,Lions Gate Family Entertainment|Relativity Med...,9/17/2010,5.5,2010

In [523]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [529]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.runtime = data.runtime.apply(lambda x:int(x))
data['profit'] = data.revenue - data.budget # столбец с прибылью

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [530]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [531]:
# тут пишем ваш код для решения данного вопроса:
print(data.original_title[data.budget == data.budget.max()])
print(data.imdb_id[data.budget == data.budget.max()])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object
723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [532]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [533]:
print(data.original_title[data.runtime == data.runtime.max()])
print(data.imdb_id[data.runtime == data.runtime.max()])

1157    Gods and Generals
Name: original_title, dtype: object
1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [534]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
print(data.original_title[data.runtime == data.runtime.min()])
print(data.imdb_id[data.runtime == data.runtime.min()])

768    Winnie the Pooh
Name: original_title, dtype: object
768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [535]:
answers['4'] = 110
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [536]:
answers['5'] = 107
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [537]:
# лучше код получения столбца profit вынести в Предобработку что в начале
print(data.original_title[data.profit == data.profit.max()])
print(data.imdb_id[data.profit == data.profit.max()])
answers['6'] = 'Avatar (tt0499549)'

239    Avatar
Name: original_title, dtype: object
239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [538]:
print(data.original_title[data.profit == data.profit.min()])
print(data.imdb_id[data.profit == data.profit.min()])
answers['7'] = 'The Lone Ranger (tt1210819)'

1245    The Lone Ranger
Name: original_title, dtype: object
1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [539]:
answers['8'] = 1478
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [540]:
answers['9'] = 'The Dark Knight (tt0468569)'
data[data.release_year == 2008][['imdb_id','original_title','revenue','release_year']].sort_values('revenue', ascending=False)[:3]

,imdb_id,original_title,revenue,release_year
599,tt0468569,The Dark Knight,1001921825,2008
603,tt0367882,Indiana Jones and the Kingdom of the Crystal S...,786636033,2008
606,tt0441773,Kung Fu Panda,631744560,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [623]:
answers['10'] = 'The Lone Ranger (tt1210819)'
data[(data.release_year >= 2012) & (data.release_year <= 2014)][['imdb_id','original_title','profit','release_year']].sort_values('profit', ascending=True)[:3]

        imdb_id   original_title     profit  release_year
1245  tt1210819  The Lone Ranger -165710090          2013
1214  tt0790736         R.I.P.D.  -68351500          2013
1007  tt1374992      Upside Down  -51893525          2012

# 11. Какого жанра фильмов больше всего?

In [542]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

genres = {}

for s in data.genres : # подсчет, сколько раз встречается каждый жанр 
    x = s.split('|')
    for i in x:
        if i in genres:
            genres[i] += 1 
        else:
            genres[i] = 1 
            
import operator 
max(genres.items(), key=operator.itemgetter(1))[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [543]:
answers['12'] = 'Drama'
data[data.profit > 0].genres.str.split('|',expand=True).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [544]:
answers['13'] = 'Peter Jackson'
data.groupby(['director']).sum().sort_values('revenue', ascending=False)[:3]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [545]:
print (len(data[(data.genres.str.contains('Action')==True) & (data.director.str.contains('Ridley Scott')==True)]))
print (len(data[(data.genres.str.contains('Action')==True) & (data.director.str.contains('Guy Ritchie')==True)]))
print (len(data[(data.genres.str.contains('Action')==True) & (data.director.str.contains('Robert Rodriguez')==True)]))
print (len(data[(data.genres.str.contains('Action')==True) & (data.director.str.contains('Quentin Tarantino')==True)]))
print (len(data[(data.genres.str.contains('Action')==True) & (data.director.str.contains('Tony Scott')==True)]))
answers['14'] = 'Robert Rodriguez'

6
4
9
5
5

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [546]:
print(data[(data.cast.str.contains('Nicolas Cage')==True)].revenue.sum())
print(data[(data.cast.str.contains('Tom Hardy')==True)].revenue.sum())
print(data[(data.cast.str.contains('Chris Hemsworth')==True)].revenue.sum())
print(data[(data.cast.str.contains('Jim Sturgess')==True)].revenue.sum())
print(data[(data.cast.str.contains('Emma Stone')==True)].revenue.sum())
answers['15'] = 'Chris Hemsworth'

3243647930
2943641063
4685424695
307406097
2885212916

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [547]:
print(len(data[(data.cast.str.contains('Tom Cruise')==True)]))
print(len(data[(data.cast.str.contains('Mark Wahlberg')==True)]))
print(len(data[(data.cast.str.contains('Matt Damon')==True)]))
print(len(data[(data.cast.str.contains('Angelina Jolie')==True)]))
print(len(data[(data.cast.str.contains('Adam Sandler')==True)]))
answers['16'] = 'Matt Damon'

16
24
26
19
20

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [548]:
data[(data.cast.str.contains('Nicolas Cage')==True)]
genres = {}

for s in data[(data.cast.str.contains('Nicolas Cage')==True)].genres:
    x = s.split('|')
    for i in x:
        if i in genres:
            genres[i] += 1 
        else:
            genres[i] = 1 
            
import operator 
print(max(genres.items(), key=operator.itemgetter(1))[0])
answers['17'] = 'Action'

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [549]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
data[(data.production_companies.str.contains('Paramount Pictures')==True)].sort_values('profit', ascending=True)[:3]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [550]:
answers['19'] = 2015
data.groupby(['release_year']).sum().sort_values('revenue', ascending=False)[:3]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378
2014          7008050000  23405862953    13444         774.5  16397812953
2013          7970620000  23213799791    15039         846.9  15243179791

# 20. Какой самый прибыльный год для студии Warner Bros?

In [551]:
answers['20'] = 2014
data[(data.production_companies.str.contains('Warner Bros')==True)].groupby(['release_year']).sum().sort_values('profit', ascending=False)[:3]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519
2007          982000000  3183675217     1721          95.4  2201675217
2008          916000000  3050595031     1366          72.0  2134595031

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [552]:
data.head(6)
mount ={}

for s in data.release_date:
    x = s.split('/')    
    if x[0] in mount:    
        mount[x[0]] += 1 
    else:
        mount[x[0]] = 1 
import operator 
print(max(mount.items(), key=operator.itemgetter(1))[0])    
answers['21'] = 'Сентябрь'

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [553]:
answers['22'] = 450
mount['6']+mount['7']+mount['8']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [579]:
def func(x):
    x = x.split('/')
    return x[0]    
df = pd.read_csv('movie_bd_v5.csv')
df.release_date = df.release_date.apply(func)
df.head(2)

print(len(df[(df.director.str.contains('Steven Soderbergh')==True)&((df.release_date == '12')|(df.release_date == '1')|(df.release_date == '2'))]))
print(len(df[(df.director.str.contains('Christopher Nolan')==True)&((df.release_date == '12')|(df.release_date == '1')|(df.release_date == '2'))]))
print(len(df[(df.director.str.contains('Clint Eastwood')==True)&((df.release_date == '12')|(df.release_date == '1')|(df.release_date == '2'))]))
print(len(df[(df.director.str.contains('Ridley Scott')==True)&((df.release_date == '12')|(df.release_date == '1')|(df.release_date == '2'))]))
print(len(df[(df.director.str.contains('Peter Jackson')==True)&((df.release_date == '12')|(df.release_date == '1')|(df.release_date == '2'))]))
answers['23'] = 'Peter Jackson'

6
0
6
3
7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [621]:
answers['24'] = 'Four By Two Productions'
def func2(x):
    return len(x)
df['len_titl'] = df.original_title.apply(func2)
df.sort_values('len_titl', ascending=False)[:3][['original_title','production_companies','len_titl']]
#df.production_companies[1448]

,original_title,production_companies,len_titl
1448,Borat: Cultural Learnings of America for Make ...,Twentieth Century Fox Film Corporation|Four By...,83
1314,"The Chronicles of Narnia: The Lion, the Witch ...",Walt Disney|Walden Media,62
219,"Alexander and the Terrible, Horrible, No Good,...",Walt Disney Pictures|21 Laps Entertainment|Jim...,59

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [622]:
answers['25'] = 'Midnight Picture Show'
def func3(x):
    x = x.split(' ')
    return len(x)
df['len_over'] = df.overview.apply(func3)
df.sort_values('len_over', ascending=False)[:3][['overview','production_companies','len_over']]
#df.production_companies[711]

,overview,production_companies,len_over
711,The photographer Leon lives with his girlfrien...,Lions Gate Films|Lakeshore Entertainment|Green...,175
170,"Fourteen hundred years ago, a tormented soul w...",Paramount Pictures|Metro-Goldwyn-Mayer (MGM)|R...,169
964,Bucum Jackson (Cube) is a bounty hunter with a...,New Line Cinema,166

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [609]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' 
df.sort_values('vote_average', ascending=False)[:19].original_title  #1889/100

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [617]:
print(len(df[(df.cast.str.contains('Johnny Depp')==True) & ((df.cast.str.contains('Helena Bonham Carter')==True))])) 
print(len(df[(df.cast.str.contains('Ben Stiller')==True) & ((df.cast.str.contains('Owen Wilson')==True))])) 
print(len(df[(df.cast.str.contains('Vin Diesel')==True) & ((df.cast.str.contains('Paul Walker')==True))])) 
print(len(df[(df.cast.str.contains('Adam Sandler')==True) & ((df.cast.str.contains('Kevin James')==True))])) 
print(len(df[(df.cast.str.contains('Daniel Radcliffe')==True) & ((df.cast.str.contains('Rupert Grint')==True))])) 
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

6
6
5
5
8

# Submission

In [624]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [625]:
# и убедиться что ни чего не пропустил)
len(answers)

27